<<<<<<< Updated upstream
/*------------------Estilo de la Pagina 1---------------------*/
.carrousel button{
    font-size:80px;
    border: 0cap;
    width: 300px;
    color: #76b31c;
    background-color: rgba(41, 41, 39, 0.647);
    align-items: center;
}
*{
    cursor: crosshair;
}
img{
    display: block;
}
.carrousel{
    display: flex; 
    justify-content: center;
    border:solid 2px #2b2a2a;
    padding: 20px;
    background-color: #2e2d2d00;
}
.carrousel img{
    width: 700px;
    height: 500px;
    
}
p{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e0e4df;
    margin-left: 40px;
    margin-right: 40px;
    
}
h1,h2{
    padding-left: 20px;
    color: #e0e4df;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cuerpo{
    justify-self: center;
    background-color: #212121fc;
    border: solid 1px #2b2a2a;
    width: 1200px;
}
a{
    color: #376fdf;
}
body{
    background-image: url('Imagenes/eeeeeeeee.jpg');
}


/*------------------Estilo de la Pagina 2---------------------*/
.Titulo > h1{
    margin: 0;
    padding: 12px 28px;
    background: #000;
    color: #e0e4df;
    border-radius: 12px;
    border: 2px solid #ffffff0d;
    box-shadow: 0 4px 12px #00000099;
    font-size: 2rem;

}
.cuerpo img{
    height: 120px;
    width: 120px;
    margin: 20px;
}

.Armas{
    width: 1000px;
}

.Pistolas, .Melee, .Smg, .Escopetas, .RiflesDeAsalto, .Snipers{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Contenedor del título centrado */
.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

/* Estilo común para todas las cajas */


 /* Estilo para la caja superior */
.caja-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
    margin-top: 20px; 
}








