.carrousel button{
    background: none;
    border: 0cap;
}
.carrousel{
    display: flex;
    justify-content: center;
    border:solid 2px gainsboro;
    padding: 20px;
    background-color: azure;
}